* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: green;
}

.Container {
    background: rgb(253, 255, 253);
    color: rgb(2, 2, 2);
    width: 60%;
    margin: 250px auto;
}

.sub-container{
    margin: 100px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    font-size: 22px;
}

.nav-list ul{
    display: flex;
    gap: 80px;
}

.nav-list ul li,a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 300px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.content h1{
    color: #000;;
}                       

.content span{
    color: #ddbfbf;
}

.content p{
    padding-top: 20px;
    font-family: sans-serif;
}

.btn{
    margin-top: 100px;
}
button{
    padding: 20px 50px;
    background: green;
    border: none;
    border-radius: 20px;
    color:#000
}
.footer{
    text-align: center;
    padding: 20px 40px;
    font-size: 20px;
}

.nav-list ul li:nth-child(1) a{
    color: rgb(131, 75, 75);
}


