* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* --------------------NavBar--------------------------*/

.header {
    background: #867272;
    padding: 15px 20px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 50px;   
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: #000;
}

/*------------- Hamburger---------------- */

.menu-bar {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 5px;
    display: block;
    background: #000;
    border-radius: 2px;
}

.dropdown {
    display: none;
    flex-direction: column;
    background: #beb1b1;
    position: absolute;
    top:150px;
    right:20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgpa(0,0,0,0,0.2);
    z-index: 1000;

}

#dropdown.active {
    display: flex;
}

.dropdown ul li {
    list-style: none;
}

.dropdown ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    border-top: 1px solid rgb(44, 37, 27)
}

.dropdown ul li a:hover {
  background: #867272;
}

/*----------------------Home------------------------------------*/

.maincontent {
    width: 100%;
    min-height: 80vh;
    background: #584343;
    padding: 150px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 80px 20px;
    
}

.profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0,0,0,0,0.4);
    border-radius: 50%;
    
}

.profile{
    text-align: center;
}

.content{
    max-width: 500px;
    line-height: 1.6;
    font-size: 22px;
    text-align: left;
}

.fa-facebook{
    font-size: 30px;
    color: blue;
}


/*---------------------Responsive-------------------------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .header-content nav { display: none; }
}
@media (min-width: 780px) and (max-width: 2560px) {
    .header-content nav { 
        display: flex;
        justify-content: space-evenly;
    }
    .menu-bar {
        display: none;
    }
}
